<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	
	<bean id="webDavGenerator" class="org.openedit.webdav.WebDavGenerator" >
			<property name="openEditResourceFactory"><ref bean="openEditResourceFactory"/></property>	
	</bean>
	
	<bean id="WebDavModule" class="org.openedit.webdav.WebDavModule" >
			<property name="openEditResourceFactory"><ref bean="openEditResourceFactory"/></property>	
	</bean>
	
	
	<bean id="openEditResourceFactory" class="org.openedit.webdav.OpenEditResourceFactory" >
			<property name="pageManager"><ref bean="pageManager"/></property>	
			<property name="userManager"><ref bean="userManager"/></property>	
	</bean>
	
		<!-- WebDav -->
	
	<bean id="webDavAssetGenerator" class="org.openedit.entermedia.generators.WebDavAssetGenerator" >
			<property name="openEditResourceFactory"><ref bean="mediaFactory"/></property>	
	</bean>
	
	<bean id="mediaFactory" class="org.openedit.entermedia.webdav.MediaFactory" >
			<property name="pageManager"><ref bean="pageManager"/></property>	
			<property name="userManager"><ref bean="userManager"/></property>	
			<property name="moduleManager"><ref bean="moduleManager"/></property>
			<property name="assetUtilities"><ref bean="assetUtilities" /></property>
			<property name="assetSecurityArchive"><ref bean="assetSecurityArchive" /></property>
	</bean>
	
	
	
</beans>
